
$font-stack: 'Noto Sans KR', 'Malgun Gothic', 'Helvetica', 'Myriad Pro', 'Arial', sans-serif;
$en-font-stack: 'Roboto', 'Noto Sans KR', 'Helvetica', 'Myriad Pro', 'Arial', sans-serif;
$monospace-font-stack: 'Inconsolata', 'Lucida Console', 'Courier New', monospace;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$header-height: rem(50px);
$header-sm-height: rem(100px);

$media-sm-width: rem(768px);
$media-lg-width: rem(1200px);

$standard-container-width: rem(1200px);

$header-z-index: 900;
