<div class="m-container">
  <div class="m-container__title">
    <%= link_to "Projects", projects_path %>
    <i class="m-container__title-arrow fa fa-chevron-right"></i>
    <%= link_to @project.id_str, @project %>
    <i class="m-container__title-arrow fa fa-chevron-right"></i>
    <%= link_to "Videos", project_videos_path %>
    <i class="m-container__title-arrow fa fa-chevron-right"></i>
    New Video
  </div>

  <%= render 'form', video: @video, url: project_videos_path %>
</div>
