<div class="m-container">
  <div class="m-container__title">
    <%= link_to "Projects", projects_path %>
    <i class="m-container__title-arrow fa fa-chevron-right"></i>
    New Project
  </div>

  <%= render 'form', project: @project %>
</div>
