.m-button {
  display: inline-block;
  background-color: color('link');
  padding: rem(8px) rem(12px);
  border: 0;
  vertical-align: middle;
  outline: none;
  text-align: center;
  font-size: rem(14px);
  color: color('white');
  cursor: pointer;

  &--default {
    background-color: color('default');
  }

  &--success {
    background-color: color('success');
  }

  &--info {
    background-color: color('info');
  }

  &--warning {
    background-color: color('warning');
  }

  &--danger {
    background-color: color('danger');
  }

  &:hover {
    opacity: 0.7;
  }
}
