<h1>Editing Knowledge</h1>

<%= render 'form', knowledge: @knowledge %>

<%= link_to 'Show', url_for(action: 'show', controller: 'knowledges', project_id: @project.id, video_id: @video.id, id: @knowledge.id) %> |
<%= link_to 'Back', project_video_knowledges_path %>
